<div class="container">
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="First">
      <div class="searchBar">
        <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input (keydown.enter)="refreshUsers()" type="text" pInputText placeholder="Search" [(ngModel)]="searchWord"/>
        </span>
      </div>

      <h4 style="text-align: center">Users found:</h4>

      <div *ngIf="users!=null && users.length==0">
        <p style="text-align: center">No users found</p>
      </div>

      <div *ngFor="let user of users">
        <ul>
          <li class="item item__divider">
            <p class="username">{{user.username}}</p>
            <span class="item__hr-line"></span>
            <button id="{{user.id}}" class="item__button" type="button" (click)="onUserSelect(user)">
              Follow
            </button>
          </li>
        </ul>
      </div>
    </mat-tab>

    <mat-tab label="Second">
      <h4 style="text-align: center">Follwed users:</h4>
      <div *ngFor="let user of followedUsers">
        <ul>
          <li class="item item__divider">
            <p class="username">{{user.username}}</p>
            <span class="item__hr-line"></span>
            <button id="{{user.id}}" class="item__button" type="button" (click)="onUserSelect(user)">
              Follow
            </button>
          </li>
        </ul>
      </div>
    </mat-tab>

  </mat-tab-group>

</div>
