
:host {
  margin-top: 1em;
  margin-bottom: auto;
  --background-EditField: #f3f3f3;
}

h3 {
  margin: 1px;
  text-align: center;
  background: -webkit-linear-gradient(#ff0202, #ffaa00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p {
  margin: 0 0 0 0;
  color: rgba(0, 0, 0, 0.72);
}

.grid-ish {
  display: flex;
  flex-wrap: wrap;
}

.grid-ish > * {
  flex: 1 1 20em
}

.content {
  width: 90vw;
  border-radius: 20px;
  margin: 3rem auto;
  background: linear-gradient(
    70deg,
    var(--LogRegColorTwo),
    var(--main-color-two) 100%);

}

.col {
  padding: 1em;
}

img {
  max-height: 20rem;
  max-width: 100%
}
.fixedbutton {
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 10em;
  height: 3em;
}
.publish_button {
  background-color: #06ff12;
  color: black;
  border: none
}
