<h3>Create a post</h3>
<input style="display: none" type="file" (change)="onFileSelected($event)" #fileInput>

<div class="content flow" >
  <div class="grid-ish">
    <div class="col">
      <p >Name of post: </p>
    <input style="width: 60%; height: 40% " type="text" pInputText [(ngModel)]="name">
    </div>
    <div class="col">
      <button (click)="fileInput.click()" pButton pRipple type="button" label="Select image"
              class="p-button-raised p-button-warning" style="margin-right: 1em"></button>
      <button (click)="onUpload()" pButton pRipple type="button" label="Publish Post"
              class="p-button-raised p-button-label publish_button" ></button>

    </div>
    <div class="col" >
      <img [src]="url">
    </div>


    <div class="col">
      <h5>Post tags/topics</h5>
      <p-chips [(ngModel)]="values2" separator=","></p-chips>

    </div>

    <div  style="background-color: white; padding-top: 3%" >
      <angular-editor [placeholder]="'Enter text here...'" [config]="editorConfig" [(ngModel)]="text"
                      style="background-color: white"></angular-editor>

    </div>
  </div>
</div>
<button (click)="onUpload()" pButton pRipple type="button" label="Publish Post"
        class="p-button-raised p-button-label publish_button fixedbutton" ></button>
