<h1 *ngIf="allPosts.length==0">No posts were retrieved. Strange...</h1>
<br>
<div *ngIf="allPosts.length>0">
  <h1>Latest posts and news for you!</h1>
<div  class="main-containerPosts card row" *ngFor="let post of allPosts">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{post.name}}</mat-card-title>
      <mat-card-subtitle><div style=" width: 100%" [innerHTML]="post.content | safeHtml"></div></mat-card-subtitle>
    </mat-card-header>
    <img  mat-card-image src="{{'data:image/jpg;base64,' + post.picByte.toString()}}" alt="https://www.google.com/search?q=empty+image&tbm=isch&ved=2ahUKEwjeztCYk7v1AhWyi_0HHYKAA78Q2-cCegQIABAA&oq=empty+image&gs_lcp=CgNpbWcQAzIHCCMQ7wMQJzIFCAAQgAQyBQgAEIAEMgUIABCABDIFCAAQgAQyBQgAEIAEMgUIABCABDIFCAAQgAQyBQgAEIAEMgUIABCABDoECAAQQ1CIBlj6E2D2GmgAcAB4AIAB1wGIAc8NkgEFMi44LjKYAQCgAQGqAQtnd3Mtd2l6LWltZ8ABAQ&sclient=img&ei=LZ7mYZ6ECLKX9u8PgoGO-As&bih=907&biw=1680#imgrc=4SpTlJP1Z3JHOM">
    <mat-card-content>
      Posted by: add name later
    </mat-card-content>
    <mat-card-actions style="display: flex; flex-grow: 3">
<!--      TODO: Make buttons work also hover animations-->
      <mat-icon class="action-item">share</mat-icon>
      <mat-icon class="action-item" >favorite_border</mat-icon>
      <mat-icon class="action-item" > save</mat-icon>
    </mat-card-actions>
  </mat-card>

</div>
</div>
