.main-containerPosts {
  background-color: var(--bckg-menu);
  border-radius: 25px;
  margin:auto;
  max-width: 20em;
}

mat-card-title {
  color: var(--main-color-two)
}
.mat-card-header-text{
  width: 100%;
}
mat-card {
  margin-bottom: 2em;
}
.deleteBtn{
  position: absolute; right: 1em
}
.action-item{
  color: var(--main-color-two);
  margin-inline: auto;
}

