:host{
  margin-top: 10%;
  margin-inline: 5%;
  margin-bottom: auto;
}
.title {
  color: #000000;
}

.loginFields {
  border-radius: 25px;
  width: auto;
  padding: 20%;
  background: linear-gradient(
    45deg,
    var(--LogRegColor),
    var(--main-color-two) 80%
  );
}

.forgottenPasswordButton {
  border: transparent;
  background-color: transparent;
  color: #1800f8
}

.form {
  min-width: 50px;
  max-width: 500px;
  width: 100%;

}

.full-width {
  width: 100%;
}

form {
  font-size: medium;
}
