<div>
  <label class="title"><b>Change password : </b></label>
</div>
<div class="loginFields">

  <form [formGroup]="passwords" class="form">

    <mat-form-field class="full-width" appearance="fill" style="margin-top: 5%">
      <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password" required>
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>

      <mat-hint *ngIf="!password.hasError('required')"> Enter
        your new password
      </mat-hint>
      <mat-error *ngIf="password.hasError('minlength')">Cant be that short</mat-error>
    </mat-form-field>

      <mat-form-field class="full-width" appearance="fill" style="margin-top: 5%">
        <input matInput placeholder="Confrim password" [type]="hide ? 'password' : 'text'"
               formControlName="passwordconfirm" required>
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>

        <mat-hint *ngIf="!passwordconfirm.hasError('required')"> Enter
          your new password
        </mat-hint>
        <mat-error *ngIf="passwordconfirm.hasError('minlength')">Cant be that short</mat-error>
        <mat-error *ngIf="password.value!=passwordconfirm.value">Passwords don't match!</mat-error>
      </mat-form-field>
  </form>
  <button class="login-btn" mat-raised-button (click)="saveNewPassword()">Change my password</button>
  <br>


</div>
