<p-steps [model]="steps" [(activeIndex)]="index" [readonly]="true"></p-steps>
<div [ngSwitch]="index">
  <div *ngSwitchCase="PageNames.whoTo">
    <h4 style="text-align: center">Follwed users:</h4>
    <div *ngFor="let user of followedUsers" style="  white-space: nowrap;">
      <ul>
        <li class="item item__divider">
          <p class="username">{{user.username}}</p>
          <span class="item__hr-line"></span>
          <button id="{{user.id}}" class="item__button" type="button"
                  (click)="onUserSelect(user)">Send to
          </button>
        </li>
      </ul>
    </div>
  </div>

  <div *ngSwitchCase="PageNames.whatSong">
    <div>
      <br>
      <div class="searchBar">
        <div style="width: 100%;" class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input (keydown.enter)="searchForSongs()" type="text" pInputText placeholder="Search"
                 [(ngModel)]="searchWord"/>
        </div>
      </div>

      <div style="padding-bottom: 2em" *ngFor="let song of songs">
        <div (click)="changeSelected(song.track_id)" class="main-container"
             [ngStyle]="{'background-color':song.track_id==selectedSong? 'var(--main-color-two)':'transparent'}">
          <img align="left" [src]="song.imgUrl">
          <div class="grid-container">
            <div>
              <p><strong>{{song.name}}</strong></p>
              <label class="msgLabel">{{song.artist}}</label>
            </div>
          </div>
        </div>
      </div>

      <button pButton pRipple label="{{index != PageNames.whoTo ? 'Back' : 'Cancel'}}"
              icon="pi {{index != PageNames.whoTo ? 'pi-angle-left' : 'pi-times'}}" class="p-button-text"
              (click)="hideDialog()"></button>
      <button [disabled]="selectedSong=='-1'" *ngIf="index!=PageNames.whoTo" pButton pRipple
              label="{{index != PageNames.whatSong ? 'Next' : 'Send'}}"
              icon="pi {{index != PageNames.whatSong ? 'pi-angle-right' : 'pi-check'}}" class="p-button-text"
              (click)="save()"></button>
    </div>

  </div>
</div>
