<section>
  <div style="flex:2">
    <h1>Account: {{user.username}} </h1>
    <div class="p-field">
      <label>Username</label> <br>
      <input type="text" pInputText id="firstName" [(ngModel)]="user.username"/>
    </div>
    <div>
      <label>Email</label> <br>
      <input [disabled]="true" class="read-only-field" type="text" pInputText id="email" [(ngModel)]="user.email"/>
    </div>

    <button mat-raised-button (click)="sendPasswordReset()">Request new password</button>
    <button mat-raised-button (click)="updateInfo()">Update username</button>
    <button mat-raised-button (click)="reddirectToSpotifyLogin()">Re/Login with spotify</button>
  </div>
  <div class="posts">
    <h1 style="text-align: center">Your posts:</h1>
    <div *ngIf="userPosts.length>0">
      <div   class="card row" *ngFor="let post of userPosts">

          <mat-card>
            <mat-card-header>
              <mat-card-title>

                {{post.name}}
                <button (click)="delPost(post.id)" pButton pRipple type="button" icon="pi pi-trash"
                        class="p-button-rounded p-button-danger deleteBtn"></button>

              </mat-card-title>
              <mat-card-subtitle><div style=" width: 100%" [innerHTML]="post.content | safeHtml"></div></mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="{{'data:image/jpg;base64,' + post.picByte.toString()}}">
            <mat-card-content>
<!--              Posted by: add name later-->
            </mat-card-content>
            <mat-card-actions style="display: flex; flex-grow: 3">
              <!--      TODO: Make buttons work also hover animations-->

            </mat-card-actions>
          </mat-card>

        </div>
    </div>
  </div>

</section>
