:host {
  margin-inline: 5%;
  --main-c-one: rgba(0, 0, 0, 0.69)
}

.title {
  color: #000000;
}

.forgottenPasswordButton {
  margin-left: 10%;
  border: transparent;
  background-color: transparent;
  color: #1800f8
}

.mat-form-field {
  color: var(--main-c-one);
}

.mat-labelCustom {
  color: var(--main-c-one);
}

.mat-hint {
  color: var(--main-c-one);
}

.registerFields {
  border-radius: 25px;
  width: auto;
  padding: 20%;
  background: linear-gradient(
    45deg,
    var(--LogRegColor),
    var(--LogRegColorTwo) 100%
  );
}

.form {
  min-width: 50px;
  max-width: 500px;
  width: 100%;

}

.full-width {
  width: 100%;
}

mat {

}

form {
  font-size: medium;
}
