:host {
  margin-inline: 5%;
  --main-c-one: rgba(0, 0, 0, 0.69)
}
::ng-deep body {
  overflow: overlay;
}

.title {
  color: #000000;
}

.forgottenPasswordButton {
  margin-left: 10%;
  border: transparent;
  background-color: transparent;
  color: #1800f8
}

.mat-form-field {
  color: var(--main-c-one);
}

.mat-labelCustom {
  color: var(--main-c-one);
}

.mat-hint {
  color: var(--main-c-one);
}

.registerFields {
  border-radius: 25px;
  width: auto;
  padding: 20%;
  background: linear-gradient(
    45deg,
    var(--LogRegColor),
    var(--LogRegColorTwo) 100%
  );
}

.form {
  min-width: 50px;
  max-width: 500px;
  width: 100%;

}

.full-width {
  width: 100%;
}

mat {

}

form {
  font-size: medium;
}

.post-regi-component {
  height: 15em;
  position: relative;
}

.bar-text {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.bar {
  border: 1px solid #666;
  height: 20px;
  width: 100%;
}
.bar .in {
  animation: fill 8s linear 1;
  height: 100%;
  background-color: var(--main-color-two);
}
.created-text {
  text-align: center;
  color: black;
}

@keyframes fill {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
