:host{
  margin-top: 8%;
  margin-inline: 5%;
  margin-bottom: auto;
  color: var(--font-color);
  width: 600px;
}
.title {
  /*color: #000000;*/
}

.loginFields {
  border-radius: 25px;
  width: 100%;
  padding: 20%;
  background: linear-gradient(
    45deg,

    var(--LogRegColor),
    var(--LogRegColorTwo) 80%
  );
}

.forgottenPasswordButton {
  border: transparent;
  background-color: transparent;
  color: #1800f8
}

.form {
  min-width: 50px;
  max-width: 800px;
  width: 100%;

}

.full-width {
  width: 100%;
}

form {
  font-size: medium;
}
.login-btn {
  color: white;
  background-color: var(--main-color-two);
  margin-right: 10px;
  float: right;
}
.login-btn:hover{
  font-size: large;
  border-radius: 25px;
  animation-timing-function: linear;
  /*padding: 10px;*/
}
