<div class="all-components">
  <div class="upper-div">
    <h3>
      <span class="title primary-dark">Song Link</span>
      <button class="login-btn" mat-button (click)="redirectLogin()">Login</button>
    </h3>
  </div>

  <div class="main-container">
  <span class="primary-dark reset-text">We will send you an email with the instructions to reset your password</span>
  <form [formGroup]="signIn" class="form">
    <mat-form-field class="center">
      <mat-label>Email of your registered account</mat-label>
      <input type="email" matInput formControlName="email" [errorStateMatcher]="matcher">

      <mat-hint class="valid" *ngIf="!email.hasError('required')">Valid email!</mat-hint>
      <mat-error class="error" *ngIf="email.hasError('email')">
        Please enter a valid email address
      </mat-error>
      <mat-error class="error" *ngIf="email.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <button [disabled]="email.hasError('required') || email.hasError('email')" class="send-btn"
            mat-raised-button (click)="sendPasswordResetRequest()">Send Mail
    </button>
  </form>
</div>
</div>
