
<h1 align="center">Add song to one of your playlists!</h1>
<div class="container">
  <div class="insideContainer">
    <button (click)="createPlaylistTab.toggle($event)" pButton pRipple type="button" icon="pi pi-plus"
            class="createPlaylist p-button-rounded p-button-lg"></button>
    <div *ngIf="playlists.length>0" style="min-height: 5em">
        <img align="left" style="max-height: 5em"
          [src]="songToAdd.imgUrl">
        <h2>{{songToAdd.name}}</h2>
        <label>{{songToAdd.artist}}</label>
    </div>

    <div *ngIf="playlists.length==0">
      No playlists found, please create one
    </div>

    <div *ngFor="let playlist of playlists">
      <ul>
        <li class="item item__divider">
          <p  class="username">{{playlist.name}}</p>
          <span class="item__hr-line"></span>
          <button id="{{playlist.idSpotify}}" class="item__button" type="button" (click)="onPlaylistSelected(playlist)">Add to</button>
        </li>
      </ul>
    </div>
  </div>
</div>

<p-overlayPanel  #createPlaylistTab>
  <ng-template  pTemplate>
    <div class="createContainer">
      <h1>Create playlist? </h1>
      <label>Name:</label>
      <input  style="height: 40% " type="text" pInputText [(ngModel)]="name">
     <h1></h1>
      <label>Public:</label><br>
      <p-inputSwitch  [(ngModel)]="isPublic"></p-inputSwitch>
    </div>


    <button class="createBtn" mat-raised-button (click)="createPlaylist()">Create</button>

  </ng-template>
</p-overlayPanel>
