
<h1 align="center">Add song to one of your playlists!</h1>
<div class="container">
  <div class="insideContainer">
    <button (click)="createPlaylist.toggle($event)" pButton pRipple type="button" icon="pi pi-plus"
            class="createPlaylist p-button-rounded p-button-lg"></button>
    <div *ngIf="playlists.length>0" style="min-height: 5em">
        <img align="left" style="max-height: 5em"
          [src]="songToAdd.imgUrl">
        <h2>{{songToAdd.name}}</h2>
        <label>{{songToAdd.artist}}</label>
    </div>
    <div *ngIf="playlists.length==0">
      No playlists found, please create one
    </div>
    <div *ngFor="let playlist of playlists">
      <ul>
        <li class="item item__divider">
          <p class="username">{{playlist.name}}</p>
          <span class="item__hr-line"></span>
          <button id="{{playlist.idSpotify}}" class="item__button" type="button" (click)="onPlaylistSelected(playlist)">Add to</button>
        </li>
      </ul>
    </div>
  </div>
</div>

<p-overlayPanel  #createPlaylist>
  <ng-template  pTemplate>
    <div class="notificationsContainer">
      <p>Your notifications: </p>
<!--      <app-notification></app-notification>-->
    </div>

  </ng-template>
</p-overlayPanel>
