:host {
  min-height: 80vh;
  width: 100vw;
}
.container {
  width: 90%;
  margin: auto;

  padding: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.insideContainer{
  border-radius: 25px;
  height: 700px;
  background-color: var(--content-bckg-color-Back);
}
:host {
  min-height: 80vh;
  width: 100vw;
}

.item {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 20px;
  padding: 15px;
}

.item__divider {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.item__divider > * {
  flex-basis: 30%;
}

.item__divider * {
  flex-shrink: 0;
}

.item__hr-line {
  min-width: 5em;
  background-color: gray;
  margin-inline: 1em;
  height: 5px;
}


.item__button {
  float: right;
  padding: 7px 15px;
  background: var(--main-color-two);
  border: 2px solid #444;
  color: var(--main-color-one);
  cursor: pointer;
  transition: all .2s;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.item__button:hover {
  background: transparent;
  color: var(--neon-clr);
  font-size: large;
}

.container {
  width: 70%;
  margin: auto;

  padding: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.searchBar {
  margin: 0 auto !important;
  width: 50%;
}

input {
  width: 100%;
}
mat-tab-group{
  border-radius: 25px;
  height: 700px;
  background-color: var(--content-bckg-color-Back);
}
.username {
  max-width: 25%;
  overflow-wrap: break-word;
  font-size: large;
  color: black;
}

@media only screen and (max-width: 1250px) {
  input {
    /*width: 10em;*/
    /*margin: auto;*/
  }

  .item__button{
    margin-left: auto;
  }
  .item__divider > * {
    flex-basis: 0;
  }

  .item__hr-line {
    min-width: 0 !important;
    width: 0 !important;
  }

  .container {
    width: 100%;
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
}
